@font-face{
	font-family: 'pfagorasanspro-thin';
	src:url('http://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/fonts/PFAgoraSansPro-Thin.eot');
	src:url('http://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/fonts/PFAgoraSansPro-Thin.eot?#iefix') format('embedded-opentype'),
		url('http://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/fonts/PFAgoraSansPro-Thin.ttf') format('truetype'),
		url('http://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/fonts/PFAgoraSansPro-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family:'pf_agora_sans_proregular';
	src:url('http://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/fonts/PFAgoraSansPro-Reg.eot');
	src:url('http://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/fonts/PFAgoraSansPro-Reg.eot?#iefix') format('embedded-opentype'),
		url('http://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/fonts/PFAgoraSansPro-Reg.woff') format('woff'),
		url('http://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/fonts/PFAgoraSansPro-Reg.ttf') format('truetype'),
		url('http://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/fonts/PFAgoraSansPro-Reg.svg#pf_agora_sans_proregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
html{height:100%;}
body{
	margin:0;
	color:#333;
	font:14px/14px Arial, Helvetica, sans-serif;
	background:#f5f5f5;
	min-width:1000px;
	height:100%;
}
img{border-style:none;}
input,
textarea,
select{
	color:#000;
	vertical-align:middle;
	font:100% Arial, Helvetica, sans-serif;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
blockquote, q{quotes: none;}
q:before,
q:after{content: '';}
a{
	color:#66ccff;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
a:focus,
input:focus,
textarea:focus,
select:focus{outline:none;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display: block;}
.wrapper{ min-height:100%;}
/*header*/
header{
	width:100%;
	background:#333333;
	position:fixed;
	top:0;
	height:60px;
	z-index:999;
}
header .holder{
	margin:0 auto;
	width:941px;
	overflow:hidden;
	padding:21px 0 8px;
}
header .logo{
	overflow:hidden;
	display:block;
	text-indent:-9999px;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/logo.png) no-repeat;
	width:188px;
	height:45px;
	float:left;
	margin:-14px 51px 0 0;
}
header .logo a{
	display:block;
	height:100%;
}
/*nav*/
nav{
	float:left;
	margin-right:33px;
}
nav ul{
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none;
}
nav ul li{
	float:left;
	margin-right:14px;
}
nav ul li a{text-decoration:underline;}
nav ul li a:hover,
nav .active{color:#fff;}
header .button{
	background: #66ccff; /* Old browsers */
	background: -moz-linear-gradient(top, #66ccff 0%, #37b1ea 3%, #3bb3ec 24%, #43b8ef 45%, #63cafe 97%, #00aae3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66ccff), color-stop(3%,#37b1ea), color-stop(24%,#3bb3ec), color-stop(45%,#43b8ef), color-stop(97%,#63cafe), color-stop(100%,#00aae3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #66ccff 0%,#37b1ea 3%,#3bb3ec 24%,#43b8ef 45%,#63cafe 97%,#00aae3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #66ccff 0%,#37b1ea 3%,#3bb3ec 24%,#43b8ef 45%,#63cafe 97%,#00aae3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #66ccff 0%,#37b1ea 3%,#3bb3ec 24%,#43b8ef 45%,#63cafe 97%,#00aae3 100%); /* IE10+ */
	-pie-background: linear-gradient( #66ccff 0%,#37b1ea 3%,#3bb3ec 24%,#43b8ef 45%,#63cafe 97%,#00aae3 100%); /* W3C */
	position:relative;
	color:#ffffff;
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
	width:128px;
	text-align:center;
	text-decoration:none;
	float:left;
	height:14px;
	padding:8px 0 9px;
	margin-top:-7px;
	margin:-7px 0 0 30px;
}
header .button:hover{
	background: #85d6ff; /* Old browsers */
	background: -moz-linear-gradient(top, #85d6ff 0%, #5fc1ee 3%, #66c5f1 38%, #71cbf6 66%, #82d5fe 97%, #33bbe9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85d6ff), color-stop(3%,#5fc1ee), color-stop(38%,#66c5f1), color-stop(66%,#71cbf6), color-stop(97%,#82d5fe), color-stop(100%,#33bbe9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #85d6ff 0%,#5fc1ee 3%,#66c5f1 38%,#71cbf6 66%,#82d5fe 97%,#33bbe9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #85d6ff 0%,#5fc1ee 3%,#66c5f1 38%,#71cbf6 66%,#82d5fe 97%,#33bbe9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #85d6ff 0%,#5fc1ee 3%,#66c5f1 38%,#71cbf6 66%,#82d5fe 97%,#33bbe9 100%); /* IE10+ */
	-pie-background: linear-gradient( #85d6ff 0%,#5fc1ee 3%,#66c5f1 38%,#71cbf6 66%,#82d5fe 97%,#33bbe9 100%); /* W3C */
	position:relative;
}
header .button:active{
	background: #57aed9; /* Old browsers */
	background: -moz-linear-gradient(top, #57aed9 0%, #2f97c8 3%, #3098c9 10%, #3da8da 45%, #62c9fd 97%, #00aae2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57aed9), color-stop(3%,#2f97c8), color-stop(10%,#3098c9), color-stop(45%,#3da8da), color-stop(97%,#62c9fd), color-stop(100%,#00aae2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #57aed9 0%,#2f97c8 3%,#3098c9 10%,#3da8da 45%,#62c9fd 97%,#00aae2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #57aed9 0%,#2f97c8 3%,#3098c9 10%,#3da8da 45%,#62c9fd 97%,#00aae2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #57aed9 0%,#2f97c8 3%,#3098c9 10%,#3da8da 45%,#62c9fd 97%,#00aae2 100%); /* IE10+ */
	-pie-background: linear-gradient( #57aed9 0%,#2f97c8 3%,#3098c9 10%,#3da8da 45%,#62c9fd 97%,#00aae2 100%); /* W3C */
	position:relative;
	-webkit-box-shadow:1px 0 2px #003366 inset; -moz-box-shadow:1px 0 2px #003366 inset;  box-shadow:1px 0 2px #003366 inset;
}
header .contact{
	float:right;
	margin-top:-8px;
}
header .contact span{
	display:block;
	color:#ffffff;
	line-height:16px;
}
header .contact a{
	line-height:16px;
	text-decoration:underline;
}
header .contact a:hover{color:#fff;}
.w1{
	width:100%;
	padding-bottom:172px;
}
/*main*/
#main{
	width:888px;
	margin:0 auto;
	padding:107px 0 50px 53px;
}
#main:after{clear:both; content:''; display:block;}
.services{
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-service.png) repeat-x;
	margin-top:24px;
}
.services ul{
	width:941px;
	margin:0 auto;
	height:480px;
	overflow:hidden;
}
.services ul{
	margin:0 auto;
	padding:0;
	height:480px;
	list-style:none;
	position:relative;
	width:962px;
}
.services ul li{position:absolute;}
.services ul li:hover{z-index:10;}
.services ul li a{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}
.serv01{
	top:0;
	padding:41px 0 0;
	left:1px;
	width:245px;
	height:480px;
}
.serv01 img{margin:0 0 0 -6px;}
.serv01 a{
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-04.png) no-repeat 0 0;
	width:165px;
	height:91px;
	position:absolute;
	top:197px;
	left:42px;
}
.serv01:hover a{background-position:0 -91px;}
.serv02{
	top:0;
	width:216px;
	height:480px;
	left:246px;
	padding:57px 0 0;
}
.serv02 img{margin-left:-18px;}
.serv02 a{
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-03.png) no-repeat 0 0;
	width:146px;
	height:83px;
	position:absolute;
	top:173px;
	left:31px;
}
.serv02:hover a{background-position:0 -83px;}
.serv03{
	left:auto;
	top:0;
	padding:46px 0 0;
	right:290px;
	width:210px;
	height:480px;
}
.serv03 img{margin:0 0 0 -30px;}
.serv03 a{
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-02.png) no-repeat 0 0;
	width:134px;
	height:115px;
	position:absolute;
	top:171px;
	left:39px;
}
.serv03:hover a{background-position:0 -115px;}
.serv04{
	top:0;
	padding:101px 0 0;
	width:289px;
	height:480px;
	right:1px;
}
.serv04 img{margin-left:15px;}
.serv04 a{
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-01.png) no-repeat 0 0;
	width:195px;
	height:157px;
	position:absolute;
	top:126px;
	left:34px;
}
.serv04:hover a{background-position:0 -157px;}
.photo-box{
	overflow:hidden;
	font-size:14px;
	line-height:16px;
	padding:11px 116px 70px 79px;
}
.photo-box p{
	margin:0 0 63px;
	font:24px/27px 'pfagorasanspro-thin', sans-serif;
}
.photo{
	overflow:visible;
	position:relative;
	padding-top:19px;
}
.photo a{
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/ico-14.png) no-repeat 0 50%;
	position:absolute;
	top:0;
	left:-9px;
	padding-left:55px;
	line-height:46px;
}
.photo a span{
	color:#006699;
	border-bottom:1px dashed #006699;
}
.photo a span:hover{
	color:#33ccff;
	border-color:#33ccff;
}
.photo a:hover{
	border:0;
	text-decoration:none;
}
.photo img{vertical-align:top;}
.block-mafia{background:#000 url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-mafia.jpg) no-repeat 50% 100%;}
.block-mafia .frame{
	position:absolute;
	right:-110px;
	top:0;
	width:821px;
	height:700px;
	overflow:hidden;
}
.block-mafia .frame .area{
	position:relative;
	left:-92px;
}
.block-mafia .frame:after{
	content:'';
	position:absolute;
	top:74px;
	left:0;
	bottom:48px;
	border-left:1px solid #5a5a5a;
	z-index:9;
}
.block-mafia .holder{
	position:relative;
	width:941px;
	margin:0 auto;
	height:700px;
}
.block-mafia .holder img{
	position:absolute;
	bottom:0;
	right:-29px;
	z-index:1;
}
.block-mafia .frame img{
	position:static;
	float:left;
	margin:0 0 0 32px;
}
.block-mafia .frame img:first-child{margin:107px 0 0;}
.block-mafia .block{
	position:absolute;
	color:#999999;
	font-size:12px;
	line-height:16px;
	width:220px;
	top:0;
	left:1px;
	padding:110px 10px 82px 0;
	min-height:510px;
}
.block-mafia .block h3{
	margin:0 0 24px;
	overflow:hidden;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/text-01.png) no-repeat;
	width:203px;
	height:43px;
	text-indent:-9999px;
}
.block-mafia .block h3 a{
	display:block;
	height:100%;
}
.mafia-menu{
	float:left;
	margin:0 0 0 32px;
}
.mafia-menu img{margin:0 !important;}
.block-mafia .block strong,
.block-rozetka .block strong{
	color:#fff;
	font-size:14px;
	line-height:20px;
	margin-bottom:15px;
	display:block;
}
.block-mafia .block p,
.block-rozetka .block p{margin:0 0 16px;}
.block-mafia .block a{
	color:#66ccff;
	text-decoration:underline;
}
.block-mafia .block a:hover{color:#fff;}
.block-rozetka{
	background: #e3f2fa; /* Old browsers */
	background: -moz-linear-gradient(top, #e3f2fa 0%, #ffffff 36%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3f2fa), color-stop(36%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e3f2fa 0%,#ffffff 36%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e3f2fa 0%,#ffffff 36%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e3f2fa 0%,#ffffff 36%,#ffffff 100%); /* IE10+ */
	-pie-background: linear-gradient( #e3f2fa 0%,#ffffff 36%,#ffffff 100%); /* W3C */
	position:relative;
}
.block-rozetka .holder{
	position:relative;
	width:941px;
	margin:0 auto;
	height:700px;
}
.block-rozetka .block{
	position:absolute;
	top:303px;
	left:459px;
	width:230px;
	color:#999999;
	font-size:12px;
	line-height:16px;
}
.block-rozetka .title{
	position:absolute;
	font-size:28px;
	line-height:31px;
	color:#114989;
	font-weight:bold;
	top:95px;
	left:136px;
	letter-spacing:-1px;
}
.block-rozetka .title strong{
	display:block;
	color:#114989;
	display:block;
	margin-left:124px;
	font-size:85px;
	line-height:52px;
	letter-spacing:-2px;
}
.block-rozetka .title .big{margin:9px 0 11px 277px;}
.block-rozetka .title span{
	margin-left:418px;
	display:block;
}
.block-rozetka .block h3{
	margin:0 0 14px;
	overflow:hidden;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/text-02.png) no-repeat;
	width:175px;
	height:48px;
	text-indent:-9999px;
}
.block-rozetka .block strong{color:#000;}
.block-rozetka img{
	position:absolute;
	top:197px;
	left:184px;
}
.block-rozetka .block a{
	color:#006699;
	text-decoration:underline;
}
.block-rozetka .block a:hover{color:#33ccff;}
.block-allo{ background:#cc0000;}
.block-allo .holder{
	margin:0 auto;
	width:941px;
	position:relative;
	height:640px;
	font-size:12px;
	line-height:14px;
	color:#fff;
	overflow:hidden;
	padding:60px 53px 0 0;
}
.block-allo .holder img{
	position:absolute;
	top:43px;
	left:389px;
	z-index:4;
}
.block-allo .holder .first{
	top:215px;
	left:239px;
	z-index:2;
}
.block-allo .holder .second{
	top:124px;
	left:auto;
	right:-7px;
	z-index:3;
}
.block-allo .block{
	position:absolute;
	width:220px;
	top:182px;
	left:25px;
	line-height:16px;
}
.block-allo .block strong{
	font-size:14px;
	line-height:20px;
	display:block;
	margin-bottom:14px;
}
.block-allo .block p{margin:0 0 16px;}
.block-allo .block a{
	color:#000;
	text-decoration:underline;
}
.block-allo .block a:hover{color:#fff;}
.block-allo .block h3{
	margin:0 0 19px;
	overflow:hidden;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/text-03.png) no-repeat;
	width:106px;
	height:26px;
	text-indent:-9999px;
}
.block-bookit .block h3 a,
.block-allo .block h3 a{
	display:block;
	height:100%;
}
.block-bookit{
	background: #dae9ed; /* Old browsers */
	background: -moz-linear-gradient(top, #dae9ed 0%, #ffffff 74%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dae9ed), color-stop(74%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dae9ed 0%,#ffffff 74%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dae9ed 0%,#ffffff 74%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dae9ed 0%,#ffffff 74%,#ffffff 100%); /* IE10+ */
	-pie-background: linear-gradient( #dae9ed 0%,#ffffff 74%,#ffffff 100%); /* W3C */
	position:relative;
}
.block-bookit .holder{
	overflow:hidden;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-bookit.jpg) no-repeat 50% 0;
}
.block-bookit .frame{
	width:941px;
	margin:0 auto;
	position:relative;
	height:700px;
}
.block-bookit .block{
	position:absolute;
	font-size:12px;
	line-height:16px;
	color:#666;
	top:81px;
	right:22px;
	width:220px;
}
.block-bookit .block h3{
	margin:0 0 13px -3px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/text-04.png) no-repeat;
	width:65px;
	height:74px;
}
.block-bookit .block strong{
	font-size:14px;
	line-height:20px;
	display:block;
	margin-bottom:13px;
}
.block-bookit .block p{margin:0 0 16px;}
.block-bookit .block a{
	color:#006699;
	text-decoration:underline;
}
.block-bookit .block a:hover{color:#33ccff;}
.block-bookit .img{
	overflow:hidden;
	position:absolute;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-bookit-01.png) no-repeat;
	width:646px;
	height:368px;
	top:159px;
	left:-69px;
	padding:66px 0 0 99px;
}
.block-bookit .img-holder{
	max-height:300px;
	overflow:hidden;
	width:547px;
}
.block-bookit .img img{vertical-align:top;}
.block-comfy{
	position:relative;
	background: rgb(0,115,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,115,0,1) 0%, rgba(0,115,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,115,0,1)), color-stop(100%,rgba(0,115,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,115,0,1) 0%,rgba(0,115,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,115,0,1) 0%,rgba(0,115,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,115,0,1) 0%,rgba(0,115,0,1) 100%); /* IE10+ */
	-pie-background: linear-gradient( rgba(0,115,0,1) 0%,rgba(0,115,0,1) 100%); /* W3C */
}
.block-comfy:after{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	right:50%;
	width:50%;
	background:#017301;
}
.block-comfy .frame{
	position:relative;
	z-index:1;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-comfy.jpg) no-repeat 50% 0;
}
.block-comfy .holder{
	width:941px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	height:700px;
}
.block-comfy img{
	position:absolute;
	top:15px;
	left:-141px;
}
.block-comfy .block{
	position:absolute;
	font-size:12px;
	line-height:16px;
	color:#666;
	top:156px;
	right:21px;
	width:220px;
	color:#fff;
}
.block-comfy .block h3{
	margin:0 0 18px -7px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/text-05.png) no-repeat;
	width:240px;
	height:73px;
}
.block-comfy .block h3 a{
	display:block;
	height:100%;
}
.block-comfy .block strong{
	font-size:14px;
	line-height:20px;
	display:block;
	margin-bottom:13px;
}
.block-comfy .block p{margin:0 0 17px 0;}
.block-comfy .block a{
	color:#000;
	text-decoration:underline;
}
.block-comfy .block a:hover{color:#fff;}
.block-vcene{background:#fff;}
.block-vcene .holder{
	width:941px;
	margin:0 auto;
	height:700px;
	position:relative;
}
.block-vcene .block{
	position:absolute;
	font-size:12px;
	line-height:16px;
	color:#666;
	top:163px;
	left:381px;
	width:220px;
	color:#666666;
	z-index:99;
}
.block-vcene .main-link{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:98;
}
.block-vcene .block h3{
	margin:0 0 21px -7px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/text-06.png) no-repeat;
	width:172px;
	height:59px;
}
.block-vcene .block h3 a{
	display:block;
	height:100%;
}
.block-vcene .block strong{
	font-size:14px;
	line-height:20px;
	display:block;
	margin-bottom:13px;
}
.block-vcene .block p{margin:0 0 17px 0;}
.block-vcene .block a{
	color:#006699;
	text-decoration:underline;
}
.block-vcene .block a:hover{color:#33ccff;}
.block-vcene img{position:absolute;}
.block-vcene .img01{
	top:48px;
	left:49px;
}
.block-vcene .img02{
	top:199px;
	left:61px;
}
.block-vcene .img03{
	top:52px;
	left:204px;
}
.block-vcene .img04{
	top:110px;
	left:198px;
}
.block-vcene .img05{
	top:295px;
	left:58px;
}
.block-vcene .img06{
	top:484px;
	left:48px;
}
.block-vcene .img07{
	top:50px;
	left:371px;
}
.block-vcene .img08{
	top:64px;
	left:585px;
}
.block-vcene .img09{
	top:66px;
	left:741px;
}
.block-vcene .img10{
	top:111px;
	left:590px;
	z-index:2;
}
.block-vcene .img11{
	top:105px;
	left:648px;
	z-index:1;
}
.block-vcene .img12{
	top:485px;
	left:399px;
}
.block-pumb{
	overflow:hidden;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-pumb-01.png) repeat-x;
}
.block-pumb .frame{
	width:100%;
}
.block-pumb .holder{
	margin:0 auto;
	width:941px;
	position:relative;
	height:700px;
}
.block-pumb .block{
	position:absolute;
	font-size:12px;
	line-height:16px;
	color:#666;
	top:98px;
	left:0;
	width:170px;
	color:#fff;
}
.block-pumb .block h3{
	margin:0 0 21px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/text-07.png) no-repeat;
	width:118px;
	height:120px;
}
.block-pumb .block h3 a{
	display:block;
	height:100%;
}
.block-pumb .block strong{
	font-size:14px;
	line-height:20px;
	display:block;
	margin-bottom:13px;
}
.block-pumb .block p{margin:0 0 17px 0;}
.block-pumb .block a{
	color:#000;
	text-decoration:underline;
}
.block-pumb .block a:hover{color:#fff;}
.block-pumb img{
	position:absolute;
	top:100px;
	left:-160px;
}
/*aside*/
aside{
	float:right;
	width:195px;
	padding-top:33px;
	margin-right:-5px;
}
aside .block{
	overflow:hidden;
	margin-bottom:19px;
}
#main aside .block h3{
	margin:0 0 14px;
	font:bold 14px/20px Arial, Helvetica, sans-serif;
	border:0;
	padding:0;
}
#main aside .block .twitter{
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/ico-01.png) no-repeat 0 2px;
	padding:0 0 0 25px;
	margin-bottom:15px;
}
aside ul{
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none;
}
aside ul li{
	overflow:hidden;
	font:12px/16px Arial, Helvetica, sans-serif;
	margin-bottom:10px;
}
aside ul li p{margin:0;}
aside ul li a{
	text-decoration:underline;
	color:#006699;
	line-height:16px;
	padding-top:.3em;
}
aside ul li a:hover{color:#33ccff;}
aside ul li em{
	color:#999999;
	line-height:16px;
}
/*content*/
#content{
	width:650px;
	overflow:visible;
}
#content .post{
	margin:0;
	padding:0;
	list-style:none;
	overflow:visible;
}
#content .post li{
	overflow:visible;
	margin-bottom:58px;
}
#content .post .date{
	overflow:hidden;
	margin-bottom:14px;
}
#content .post .date span{
	color:#999999;
	font-size:12px;
	line-height:14px;
}
#content .post .info{
	overflow:visible;
}
#content .post .info .top{
	overflow:visible;
	margin-bottom:24px;
	border-bottom:1px solid #dbdbdb;
}
#content .post .info .comment{
	float:left;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/ico-02.gif) no-repeat;
	text-align:center;
	font:bold 12px/12px Arial, Helvetica, sans-serif;
	color:#fff;
	width:25px;
	margin:4px 0 0 -52px;
	height:12px;
	padding:2px 0 7px 0;
	text-decoration:none;
}
#content .post .info .comment:hover{background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/comment-icon-hover.png) no-repeat;}
#content .post .info h2{
	margin:0;
	font:bold 22px/24px Arial, Helvetica, sans-serif;
	padding-bottom:16px;
}
#content .post .info h2 a{color:#000;}
#content .post .info h2 a:hover{color:#006699;}
#content p{
	margin:0 0 34px;
	line-height:21px;
}
#content .video{
	overflow:hidden;
	margin-bottom:35px;
}
#content .video img,
#content .visual img{vertical-align:top;}
#content .read{
	line-height:12px;
	font-size:12px;
	margin-top:-8px;
}
#content .read a{
	color:#006699;
	text-decoration:underline;
}
#content .read a:hover{color:#33ccff;}
#content .read span{
	color:#999999;
}
#content .visual{
	overflow:hidden;
	margin-bottom:14px;
}
#content .description{
	overflow:hidden;
	margin-bottom:34px;
}
#content .description em{line-height:21px;}
#content .post h3{
	margin:-15px 0 12px 0;
	font-weight:bold;
	font-size:18px;
	line-height:21px;
	border:0;
	padding:0;
}
#content .post blockquote{
	margin:43px 0 41px 0;
	line-height:21px;
	font-size:14px;
	border-left:2px solid #dbdbdb;
	padding-left:13px;
}
#content .post .item{
	margin:-24px 0 21px 0;
	padding:0;
	overflow:hidden;
	list-style:none;
}
#content .post .item li{
	overflow:hidden;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bullet-01.png) no-repeat 0 50%;
	margin:0;
	padding-left:15px;
	line-height:21px;
	font-size:14px;
}
#content .post ol{
	margin:-23px 0 20px 0;
	overflow:hidden;
	padding:0;
}
#content .post ol li{
	margin:0;
	line-height:21px;
	font-size:14px;
}
#content .post ol span{margin-right:8px;}
#content .pages{
	overflow:hidden;
	width:570px;
	padding-top:35px;
}
#content .pages a span,
#content .pages .prev{
	color:#999999;
	line-height:18px;
	font-size:12px;
	text-decoration:none;
	overflow:hidden;
	float:left;
}
#content .pages > a, #content .pages > ul{
	display:block;
	float:left;
}
#content .pages a em{
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/arrows-left.png) no-repeat 0 0;
	margin:6px 10px 0 0;
	float:left;
	width:24px;
	height:7px;
	text-indent:-9999px;
	overflow:hidden;
}
#content .pages a:hover em{ background-position:0 -7px;}
#content .pages a:hover span,
#content .pages .next span{color:#006699;}
#content .pages .next em{
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/arrows-right.png) no-repeat 0 -7px;
	margin:6px 0 0 12px;
}
#content .pages .next:hover em{ background-position:0 -14px;}
#content .pages .next:hover span{color:#33ccff;}
#content .pages ul{
	margin:0 0 0 27px;
	padding:0;
	list-style:none;
	width:340px;
	overflow:hidden;
}
#content .pages ul li{
	line-height:18px;
	font-size:18px;
	margin-left:25px;
	float:left;
}
#content .pages ul li:first-child{margin:0;}
#content .pages ul strong{display:block;}
#content .pages ul a{
	text-decoration:none;
	color:#006699;
	float:none;
	line-height:18px;
	font-size:18px;
	display:block;
}
#content .pages ul a:hover{color:#33ccff;}
#content .pages ul span{
	background:none;
	color:#999999;
	overflow:visible;
	text-indent:0;
	margin:0;
}
.map{
	height:100%;
}
.map-holder{
	width:941px;
	margin:0 auto;
	position:relative;
}
.w1.with_map:after, .w1.with_map .map:after{
	clear:both;
	content:'';
	display:block;
}
.w1.with_map{
	padding-top: 59px;
	position: absolute;
	height: auto;
	display:block;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding-bottom: 0px;
}
.with_map .info-box{
	position:absolute;
	background:#fff;
	width:300px;
	top:113px;
	left:160px;
}
.with_map .info-box .holder{
	border:3px solid #333;
	margin:3px;
	font-size:14px;
	line-height:20px;
	padding:24px 0 30px 30px;
}
/*.with_map-holder .pin{
	overflow:hidden;
	display:block;
	text-indent:-9999px;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/pin.png) no-repeat;
	width:79px;
	height:134px;
}*/
.with_map .info-box address{
	font-style:normal;
	margin-bottom:20px;
}
.with_map .info-box .phone{margin-bottom:20px;}
.with_map .info-box .contact{margin-bottom:25px;}
.with_map .info-box h4{
	margin:0;
	font-weight:bold;
	font-size:14px;
	line-height:20px;
}
.with_map .info-box span{display:block;}
.with_map .info-box a{
	color:#006699;
	font-weight:normal;
	font-size:14px;
	line-height:20px;
}
.with_map .info-box .social{
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
}
.with_map .info-box .social li{
	float:left;
	margin-left:10px;
}
.with_map .info-box .social li:first-child{margin:0;}
.with_map .info-box .social li a{
	text-indent:-9999px;
	overflow:hidden;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-social.png) no-repeat 0 0;
	width:24px;
	height:24px;
	display:block;
}
.with_map .info-box .social .facebook a{ background-position:0 -24px;}
.portfolio{
	margin:15px 0 -22px -48px;
	padding:0;
	list-style:none;
	width:989px;
}
.portfolio:after{  clear:both; content:''; display:block;}
.portfolio li{
	display:inline-block;
	vertical-align:top;
	width:auto;
	text-align:center;
	width:220px;
	margin:0 20px 47px 0;
}
.portfolio li a{
	display:block;
	text-decoration:none;
}
.portfolio li .visual{margin-bottom:14px;}
.portfolio span{
	display:block;
	color:#006699;
	line-height:18px;
	font-size:14px;
	text-decoration:underline;
}
.portfolio a:hover span{color:#66ccff;}
.portfolio img{vertical-align:top;}
.portfolio em{
	font-style:normal;
	color:#999999;
	font-size:12px;
	line-height:18px;
}
.columns{
	overflow:hidden;
	margin-right:-54px;
}
.columns .row{
	overflow:hidden;
	margin-bottom:36px;
}
.columns .row .col{
	display:inline-block;
	vertical-align:top;
	width:305px;
	margin-left:89px;
}
.columns .row .col:first-child{margin:0;}
#main .columns .row .col h3{
	font-weight:bold;
	font-size:22px;
	line-height:22px;
	border-bottom:1px solid #dbdbdb;
	margin:0 0 19px;
	padding:0 0 16px;
}
.service #content .col p{
	margin:0;
	line-height:18px;
	font-size:14px;
}
.service{
	overflow:hidden;
	margin:-5px -4px 0 -51px;
	position:relative;
}
.service aside{
	float:left;
	padding:0 0 260px;
	margin:3px 0 0 0;
}
.service #content{
	float:right;
	width:704px;
	color:#505050;
	font:20px/26px 'pf_agora_sans_proregular', Arial, Helvetica, sans-serif;
}
.service #content h2,
#main h3{
	margin:0 0 24px 0;
	padding-bottom:16px;
	font-size:22px;
	line-height:22px;
	font-weight:bold;
	border-bottom:1px solid #dbdbdb;
}
.service #content p{
	font:20px/26px 'pfagorasanspro-thin', Arial, Helvetica, sans-serif;
	margin-bottom:22px;
}
.service #content ul{
	margin:-5px 0 34px 0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.service #content ul li{
	overflow:hidden;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bullet-01.png) no-repeat 0 5px;
	padding-left:15px;
	margin-bottom:4px;
	line-height:18px;
}
.service #content h4{
	margin:0 0 17px;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
}
#main .service aside h3,
.service aside h3 a{
	margin:0 0 13px;
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	border:0;
}
#main .service aside h3{
	font-family: Arial;
	font-size: 14px;
	font-style: italic;
	color: #666;
	margin-bottom: 0;
	padding-bottom: 12px;
	font-weight:normal;
}
#main .service aside h3.branches{
	margin:32px 0 12px;
	padding-bottom:0;
}
.branches-holder h4{margin:0 0 4px !important;}
.service aside h4{
	margin:0 0 14px;
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	color: #333;
}
.service aside h4 a{
	font-size: 14px;
	line-height: 16px;
}
.service aside h4 a.branch{font-weight: normal;}
.service aside a{
	text-decoration:underline;
	color:#006699;
	font-size:12px;
	line-height:19px;
}
.service aside a:hover{color:#33ccff;}
.service aside ul{
	padding-left:10px;
	margin:-7px 0 13px;
}
.service aside li{margin:0 0 1px;}
.service aside .link {
	position:absolute;
	left:0;
	bottom:22px;
	width:195px;
	font-size:14px;
	line-height:18px;
}
.service aside .link img{
	vertical-align:top;
	margin:0 0 22px;
}
.service aside .link strong{display:block;}
.service aside .link p{margin:0 0 18px;}
.service aside .link a{
	font-size:14px;
	line-height:18px;
}
.q-box{
	font:14px/18px Arial, Helvetica, sans-serif;
	margin:0;
}
.q-box dt{
	font-weight:bold;
	margin:0 0 10px;
}
.q-box dd{margin:0;}
#main .holder{padding:58px 0 13px 0;}
#main .holder:after{  clear:both; content:''; display:block;}
#main .holder h3{margin:0 0 40px -52px;}
#main .desing{
	font-size:14px;
	overflow:visible;
	line-height:18px;
	margin:-19px 0 0 -51px;
}
#main .desing > a.back{
	color:#006699;
	text-decoration:underline;
	font-size:12px;
	line-height:14px;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/ico-15.png) no-repeat 0 3px;
	padding:0 0 0 29px;
	display:block;
	margin-bottom:39px;
}
#main .desing > a:hover{color:#33ccff;}
#main .desing .site{
	color:#069;
	text-decoration:none !important;
	font-size:14px;
	line-height:16px;
	margin-bottom:32px;
	display:inline-block;
	vertical-align:top;
	position:relative;
	padding:0 0 0 22px;
}
#main .desing .site span{
	display:inline-block;
	text-decoration:underline;
	vertical-align:middle;
}
#main .desing .site img{
	position:absolute;
	top:50%;
	left:0;
	margin:-8px 0 0;
}
#main .desing h1,
#main .desing h2{
	margin:0 0 15px;
	font-size:30px;
	line-height:35px;
	font-weight:bold;
}
#main .desing h1{
	font-size:32px;
	line-height:35px;
}
#main .desing p{margin:0 0 35px;}
#main .desing .group{
	font-size:12px;
	line-height:16px;
	overflow:visible;
	margin:0 0 -50px;
}
#main .desing .group .about{
	float:right;
	width:225px;
	position:relative;
	margin:0 -5px 0 0;
}
#main .desing .group p{margin:0 0 22px;}
#main .desing .group01{
	overflow:visible;
	margin-bottom:50px;
	margin-left:-5px;
}
#main .desing .group01 img{margin-top:2px;}
#main .desing .group01 .block01 img{margin: 12px 0 20px;}
#main .desing .group01 .block02{
	position:absolute;
	top:625px;
	right:0;
}
#main .desing .group01 .block03{
	position:absolute;
	right:0;
	top:2115px;
}
#main .desing .group02{
	overflow:hidden;
	margin-bottom:89px;
}
#main .desing .group02 img{margin:2px 0 0 -17px;}
#main .desing .group02 .about img{margin:0;}
#main .desing .group03{
	overflow:visible;
	margin-bottom:74px;
}
#main .desing .group03 img{margin:-13px 0 0 13px;}
#main .desing .group03 p{margin:0 0 16px;}
#main .desing .group04{
	overflow:hidden;
	margin-bottom:50px;
	margin-right:-1px;
}
#main .desing .group04 img{margin:0;}
#main .desing .group05{
	overflow:hidden;
	padding-left:83px;
}
#main .desing .group05 .block01{
	overflow:hidden;
	margin-bottom:46px;
}
#main .desing .group05 .block01 .about{
	float:left;
	margin:129px 0 0 18px;
	width:360px;
}
#main .desing .group05 .block01 .about p{margin-bottom:16px;}
#main .desing .group05 .block01 img{float:left;}
#main .desing .group05 .block02{
	overflow:hidden;
	margin-bottom:55px;
}
#main .desing .group05 .block02 .col{
	float:left;
	text-align:center;
	margin-right:19px;
}
#main .desing .group05 .block02 img{margin-bottom:13px;}
#main .desing .group05 .block03{
	overflow:hidden;
	margin-bottom:14px;
}
#main .desing .group05 .block03 img{margin-left:9px;}
.custom-layout-content{
	margin-top: 59px;
}
/*footer*/
footer{
	background:#f5f5f5 url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-footer.jpg) repeat-x 0 100%;
	margin-top:-172px;
}
footer .holder{
	border-top:1px solid #dbdbdb;
	overflow:hidden;
	margin:0 auto;
	width:941px;
	font:14px/20px Arial, Helvetica, sans-serif;
	padding:43px 0 66px;
}
footer .logo{
	float:left;
	text-indent:-9999px;
	display:block;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/logo-01.png) no-repeat;
	width:188px;
	height:45px;
	margin:-11px 53px 0 0;
}
footer .logo a{
	display:block;
	height:100%;
}
footer address{
	float:left;
	font-style:normal;
	margin-right:32px;
}
footer span{display:block;}
footer h4{
	margin:0;
	font-weight:bold;
	font-size:14px;
	line-height:20px;
}
footer .phone{
	float:left;
	margin-right:26px;
}
footer .social{
	float:right;
	margin:5px 0 0 0;
	padding:0;
	list-style:none;
}
footer .social li{
	float:left;
	margin-left:10px;
}
footer .social li:first-child{margin:0;}
footer .social li a{
	text-indent:-9999px;
	overflow:hidden;
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/bg-social.png) no-repeat 0 0;
	width:24px;
	height:24px;
	display:block;
}
footer .social li:hover a{ background-position:-24px 0}
footer .social .facebook a{ background-position:0 -24px;}
footer .social .facebook:hover a{ background-position:-24px -24px;}
footer .contact{overflow:hidden;}
footer .contact a{
	color:#006699;
	text-decoration:underline;
	font-weight:normal;
	font-size:14px;
	line-height:20px;
}
footer .contact a:hover{color:#33ccff;}
/*pop-up*/
.pop-up{
	overflow:hidden;
	background:#f4f4f4;
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	padding:26px 30px 13px 30px;
	width:540px;
	position:relative;
	font-size:14px;
	line-height:18px;
	color:#999;
}
.pop-up .close{
	background:url(https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/btn-01.png) no-repeat 50% 50%;
	width:11px;
	height:11px;
	display:block;
	position:absolute;
	top:-1px;
	right:-1px;
	text-indent:-9999px;
	padding:10px;
	border-radius:6px;
	-webkit-border-radius:6px;
}
.jqmWindow{overflow:hidden !important;}
.pop-up .close:hover{ background-color:#dcdcdc;}
.pop-up h3{
	margin:0 0 6px;
	color:#333;
	font-size:18px;
	line-height:24px;
	font-weight:bold;
}
.pop-up p{margin:0 0 27px;}
.pop-up .row{
	overflow:hidden;
	margin-bottom:16px;
}
.pop-up .row label{
	display:block;
	margin-bottom:6px;
}
.pop-up .row .text{
	float:left;
	padding:6px 7px;
	border:1px solid #ccc;
	-webkit-border-radius:5px; border-radius:5px;
	line-height:16px;
	height:16px;
	width:222px;
}
.pop-up .row textarea{
	resize:none;
	border:1px solid #cccccc;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	width:522px;
	padding:6px 7px;
	height:106px;
}
.pop-up .button{
	background: #66ccff; /* Old browsers */
	background: -moz-linear-gradient(top, #66ccff 0%, #37b1ea 3%, #3bb3ec 24%, #43b8ef 45%, #63cafe 97%, #00aae3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66ccff), color-stop(3%,#37b1ea), color-stop(24%,#3bb3ec), color-stop(45%,#43b8ef), color-stop(97%,#63cafe), color-stop(100%,#00aae3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #66ccff 0%,#37b1ea 3%,#3bb3ec 24%,#43b8ef 45%,#63cafe 97%,#00aae3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #66ccff 0%,#37b1ea 3%,#3bb3ec 24%,#43b8ef 45%,#63cafe 97%,#00aae3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #66ccff 0%,#37b1ea 3%,#3bb3ec 24%,#43b8ef 45%,#63cafe 97%,#00aae3 100%); /* IE10+ */
	-pie-background: linear-gradient( #66ccff 0%,#37b1ea 3%,#3bb3ec 24%,#43b8ef 45%,#63cafe 97%,#00aae3 100%); /* W3C */
	position:relative;
	color:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	width:136px;
	text-align:center;
	text-decoration:none;
	border:none;
	padding:6px 0;
	margin:2px 20px 0 0;
}
.pop-up .button:hover{
	background: #85d6ff; /* Old browsers */
	background: -moz-linear-gradient(top, #85d6ff 0%, #5fc1ee 3%, #66c5f1 38%, #71cbf6 66%, #82d5fe 97%, #33bbe9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85d6ff), color-stop(3%,#5fc1ee), color-stop(38%,#66c5f1), color-stop(66%,#71cbf6), color-stop(97%,#82d5fe), color-stop(100%,#33bbe9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #85d6ff 0%,#5fc1ee 3%,#66c5f1 38%,#71cbf6 66%,#82d5fe 97%,#33bbe9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #85d6ff 0%,#5fc1ee 3%,#66c5f1 38%,#71cbf6 66%,#82d5fe 97%,#33bbe9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #85d6ff 0%,#5fc1ee 3%,#66c5f1 38%,#71cbf6 66%,#82d5fe 97%,#33bbe9 100%); /* IE10+ */
	-pie-background: linear-gradient( #85d6ff 0%,#5fc1ee 3%,#66c5f1 38%,#71cbf6 66%,#82d5fe 97%,#33bbe9 100%); /* W3C */
	position:relative;
}
.pop-up .button:active{
	background: #57aed9; /* Old browsers */
	background: -moz-linear-gradient(top, #57aed9 0%, #2f97c8 3%, #3098c9 10%, #3da8da 45%, #62c9fd 97%, #00aae2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57aed9), color-stop(3%,#2f97c8), color-stop(10%,#3098c9), color-stop(45%,#3da8da), color-stop(97%,#62c9fd), color-stop(100%,#00aae2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #57aed9 0%,#2f97c8 3%,#3098c9 10%,#3da8da 45%,#62c9fd 97%,#00aae2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #57aed9 0%,#2f97c8 3%,#3098c9 10%,#3da8da 45%,#62c9fd 97%,#00aae2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #57aed9 0%,#2f97c8 3%,#3098c9 10%,#3da8da 45%,#62c9fd 97%,#00aae2 100%); /* IE10+ */
	-pie-background: linear-gradient( #57aed9 0%,#2f97c8 3%,#3098c9 10%,#3da8da 45%,#62c9fd 97%,#00aae2 100%); /* W3C */
	position:relative;
	-webkit-box-shadow:1px 0 2px #003366 inset;
	-moz-box-shadow:1px 0 2px #003366 inset;
	box-shadow:1px 0 2px #003366 inset;
}
.pop-up .row a{
	color:#006699;
	border-bottom:1px dashed #006699;
	font-size:12px;
	line-height:18px;
}
.pop-up .row a:hover{
	text-decoration:none;
	border:0;
}
.mobilluck #main h3{
	border:0;
	font-size:30px;
	line-height:35px;
	padding:0;
	margin:0 0 15px;
}
.main-holder{
	margin:0 auto;
	width:888px;
	padding:40px 0 13px 53px;
}
.main-holder h3{
	margin:0 0 40px -52px;
	border-bottom:1px solid #dbdbdb;
	font-size: 22px;
	font-weight: bold;
	line-height: 22px;
	padding-bottom: 16px;
}
.service #content h1{
	color:#000;
	border-bottom:1px solid #dbdbdb;
	margin:0 0 24px;
	padding:0 0 14px;
	font:bold 22px/24px Arial, Helvetica, sans-serif;
}
#content .holder h3{
	margin:0 0 40px;
	color:#000;
}
#content .portfolio{width:auto;}
#content .portfolio li{
	background:none;
	padding:0;
}
.error-page{
	background:#333 url( https://new-turum.s3.amazonaws.com/sites/5098e0af42cacb3e8f000004/theme/images/img-404.png) no-repeat 50% 100%;
	height:100%;
	position:relative;
	min-height:500px;
}
.error-area{
	color:#fff;
	width:464px;
	margin:0 auto;
	position:absolute;
	top:50%;
	left:50%;
	margin:-70px 0 0 -234px;
	font-size:14px;
	line-height:18px;
}
.error-area .title{
	display:block;
	margin:0 0 9px;
	font-weight:normal;
	font:24px/28px pfagorasanspro-thin, Arial, Helvetica, sans-serif;
}
.error-area a{text-decoration:underline;}
.error-area a:hover{color:#fff;}
.error-page footer{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
#main .desing a.site[href='http://']{display:none;}